body{
    background-color: #ffffff!important;
}
.bg-white{
    background-color: #ffffff!important;
}
.bg-light{
    background-color: #fafafa!important;
}
.bg-dark{
    background-color: #323643!important;
}
.bg-gray{
    background-color: #868fac!important;
}
.bg-yellow{
    background-color: #ffcb00!important;
}
.bg-night-blue{
    background-color: #0A122A!important;
}
.bg-blue{
    background-color: #00b0ff!important;
}

.text-white{
    color: #ffffff!important;
}
.text-light{
    color: #fafafa!important;
}
.text-dark{
    color: #323643!important;
}
.text-gray{
    color: #868fac!important;
}
.text-yellow{
    color: #ffcb00!important;
}
.text-night-blue{
    color: #0A122A!important;
}
.text-blue{
    color: #00b0ff!important;
}
table.table{
    color: #4d5572;
}
thead{
    border-bottom: #dee2e6 solid 3px;
}
tr{
    border-bottom: #dee2e6 solid 2px;
}
.carousel{
    height: 50vh;
    width: 70vw;
}
.carousel .carousel-item img{
    height: 50vh;

}
.table-img-rounded{
    overflow: hidden;
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    border-width: 1px;
}
.table-img-rounded img{
    height: 10vh;
}
.table-img-rounded:hover{
    opacity: 0.8;
    transition: 0.3s ease;
}
.div-dropdown:hover{
    background-color: #f5f3f5;
    transition: 0.3s ease;
}
nav li a{
    padding: 10px;
}
li a:hover{
    color: #868fac;
}

.my-container{
    padding-block: 4%;
    padding-inline: 2%;
}

a.card-link{
    text-decoration: none;
    color: #00b0ff;
}
a.card-link:hover{
    text-decoration: none;
    color: #3f3d56;
    transition: 0.3s ease;
}

.card:hover .card-img-top>img{
    transform: scale(1.5);
    opacity: 0.8;
    transition: 0.4s ease;
}
.card img{
    transition: 0.4s ease;
}
.card-footer{
    background-color: white!important;
}

.to-zoom{
    overflow: hidden;
}

.article img:hover{
    transform: none;
    width: 100%;
}
.article .card:hover img{
    transform: none;
    opacity: 1;
}

.page-item>a{
    border: #f5f3f5 solid 1pt!important;
}
.page-item:not(.active)>a{
    color:#00b0ff;
}
.menu a.nav-link{
    color: #f5f3f5!important;
}
.menu a.nav-link:hover{
    opacity: 0.8;
    transition: 0.3s ease;
}
.navbar{
    opacity: 0.99;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
.side-navbar{
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}
.sidebar.active {
    margin-left: -250px;
}
.sidenav-header{
    width:100%;
    padding:3%;
}
.side-navbar a{
    text-decoration: none;
    color: white;
    font-size: large;
}
.side-navbar li{
    padding: 5%;
    
}
.side-navbar li:hover{
    background-color: #f5f3f5;
    transition: 0.2s ease;
}
.side-navbar li:hover a{
    color: #3f3d56;
    transition: 0.2s ease;

}
#sidenav_toggle{
    min-height: 100vh;
}
#sidenav_toggle:hover{
    color: #323643!important;
    transition: 0.2s ease;
}
.content
{
    width: 100%;
}

form.new-user input,form.new-article input{
    border: 2px solid  #f5f3f5;
    padding: 1%;
    margin-top:1%;
}
form.new-user textarea,form.new-article textarea{
    border: 2px solid  #f5f3f5;
    padding: 1%;
    margin-top:1%;
}
.no-decoration{
    text-decoration: none;
}
.file-input::-webkit-file-upload-button{
    border: none;
    margin: 1%;
    padding:1%;
    color:#f5f3f5 ;
    background-color: #00b0ff;
}
.file-input::-webkit-file-upload-button:hover{
    cursor:pointer;
    opacity: 0.7;
    transition: 0.3s ease;
}
form.new-user button,form.new-article button{
    border: none;
    margin: 1%;
    padding:1%;
    color:#f5f3f5 ;
    background-color: #323643;
}
form.new-user button:hover,form.new-article button:hover{
    cursor:pointer;
    background-color:#868fac ;
    transition: 0.3s ease;
}

.my-btn{
    border: none;
    margin: 1%;
    padding:1%;
    color:#f5f3f5 ;
    background-color: #323643;
}
.my-btn:hover{
    cursor:pointer;
    background-color:#868fac ;
    transition: 0.3s ease;
}

@media only screen and (max-width: 800px) {
    .side-navbar{
        z-index: 1000;
        position: absolute;
    }
}
