body{
    background-color: #fafafa;
}

.bg-light{
    background-color: #f5f3f5!important;
}
.bg-dark{
    background-color: #323643!important;
}
.bg-gray{
    background-color: #868fac!important;
}
.bg-yellow{
    background-color: #ffcb00!important;
}
.bg-night-blue{
    background-color: #3f3d56!important;
}
.bg-blue{
    background-color: #00b0ff!important;
}

.text-light{
    color: #f5f3f5!important;
}
.text-dark{
    color: #323643!important;
}
.text-gray{
    color: #868fac!important;
}
.text-yellow{
    color: #ffcb00!important;
}
.text-night-blue{
    color: #3f3d56!important;
}
.text-blue{
    color: #00b0ff!important;

}

.carousel{
    height: 50vh;
    width: 70vw;
}
.carousel .carousel-item img{
    height: 50vh;

}

nav li a{
    padding: 10px;
}
li a:hover{
    color: #868fac;
}

.my-container{
    padding-block: 4%;
    padding-inline: 2%;
}

a.card-link{
    text-decoration: none;
    color: #00b0ff;
}
a.card-link:hover{
    text-decoration: none;
    color: #3f3d56;
    transition: 0.3s ease;
}

.card:hover img{
    transform: scale(1.5);
    opacity: 0.8;
    transition: 0.4s ease;
}
.card img{
    transition: 0.4s ease;
}

.to-zoom{
    overflow: hidden;
}